parameters:
    oxs.request_logger.cookie_name: 'X-Correlation-Id'
    oxs.request_logger.header_name: 'X-Correlation-Id'
    oxs.request_logger.ttl: 2592000 # 30 days in seconds

services:

    _defaults:
        autowire: true
        public: false

    OxidSupport\RequestLogger\Logger\Security\SensitiveDataRedactorInterface:
        class: OxidSupport\RequestLogger\Logger\Security\SensitiveDataRedactor
        public: true

    OxidSupport\RequestLogger\Shop\Facade\ModuleSettingFacadeInterface:
        class: OxidSupport\RequestLogger\Shop\Facade\ModuleSettingFacade

    OxidSupport\RequestLogger\Logger\LoggerFactory: ~

    oxs.logger.channel:
        class: Monolog\Logger
        factory: ['@OxidSupport\RequestLogger\Logger\LoggerFactory', 'create']

    OxidSupport\RequestLogger\Logger\ShopRequestRecorder\ShopRequestRecorder:
        arguments:
            $logger: '@oxs.logger.channel'

    OxidSupport\RequestLogger\Shop\Facade\FacadeInterface:
        class: OxidSupport\RequestLogger\Shop\Facade\Facade
        public: true

    OxidSupport\RequestLogger\Logger\ShopRequestRecorder\ShopRequestRecorderInterface:
        alias: OxidSupport\RequestLogger\Logger\ShopRequestRecorder\ShopRequestRecorder
        public: true

    OxidSupport\RequestLogger\Logger\CorrelationId\CorrelationIdProviderInterface:
        class: OxidSupport\RequestLogger\Logger\CorrelationId\CorrelationIdProvider

    OxidSupport\RequestLogger\Logger\CorrelationId\CorrelationIdGeneratorInterface:
        class: OxidSupport\RequestLogger\Logger\CorrelationId\CorrelationIdGenerator

    OxidSupport\RequestLogger\Logger\Processor\CorrelationIdProcessorInterface:
        class: OxidSupport\RequestLogger\Logger\Processor\CorrelationIdProcessor

    OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\Decorator\OnceEmitterDecorator: ~

    OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\EmitterInterface:
        alias: OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\Decorator\OnceEmitterDecorator

    OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\CookieEmitter:
        arguments:
            $cookieName: '%oxs.request_logger.cookie_name%'
            $ttl: '%oxs.request_logger.ttl%'
        tags: ['oxs.cid.emitter']

    OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\HeaderEmitter:
        arguments:
            $headerName: '%oxs.request_logger.header_name%'
        tags: ['oxs.cid.emitter']

    OxidSupport\RequestLogger\Logger\CorrelationId\Emitter\Composite\CompositeEmitter:
        arguments:
            $emitters: !tagged_iterator 'oxs.cid.emitter'

    OxidSupport\RequestLogger\Logger\CorrelationId\Resolver\ResolverInterface:
        alias: OxidSupport\RequestLogger\Logger\CorrelationId\Resolver\Composite\CompositeResolver

    OxidSupport\RequestLogger\Logger\CorrelationId\Resolver\CookieResolver:
        arguments:
            $cookieName: '%oxs.request_logger.cookie_name%'
        tags:
            - { name: 'oxs.cid.resolver', priority: 100 }

    OxidSupport\RequestLogger\Logger\CorrelationId\Resolver\HeaderResolver:
        arguments:
            $headerName: '%oxs.request_logger.header_name%'
        tags:
            - { name: 'oxs.cid.resolver', priority: 190 }

    OxidSupport\RequestLogger\Logger\CorrelationId\Resolver\Composite\CompositeResolver:
        arguments:
            $resolvers: !tagged_iterator 'oxs.cid.resolver'
