parameters:
    oxs.request_logger.cookie_name: 'X-Correlation-Id'
    oxs.request_logger.header_name: 'X-Correlation-Id'
    oxs.request_logger.ttl: 2592000 # 30 days in seconds

services:

    _defaults:
        autowire: true
        public: false

    OxidSupport\RequestLogger\Logger\LoggerFactory: ~

    oxs.logger.channel:
        class: Monolog\Logger
        factory: ['@OxidSupport\RequestLogger\Logger\LoggerFactory', 'create']

    OxidSupport\RequestLogger\ShopRequestRecorder\ShopRequestRecorder:
        arguments:
            $logger: '@oxs.logger.channel'

    OxidSupport\RequestLogger\ShopRequestRecorder\ShopRequestRecorderInterface:
        alias: OxidSupport\RequestLogger\ShopRequestRecorder\ShopRequestRecorder
        public: true

    OxidSupport\RequestLogger\CorrelationId\CorrelationIdProviderInterface:
        class: OxidSupport\RequestLogger\CorrelationId\CorrelationIdProvider

    OxidSupport\RequestLogger\CorrelationId\CorrelationIdEmitterInterface:
        class: OxidSupport\RequestLogger\CorrelationId\CorrelationIdEmitter
        arguments:
            $cookieName: '%oxs.request_logger.cookie_name%'
            $ttl: '%oxs.request_logger.ttl%'

    OxidSupport\RequestLogger\CorrelationId\CorrelationIdGeneratorInterface:
        class: OxidSupport\RequestLogger\CorrelationId\CorrelationIdGenerator

    OxidSupport\RequestLogger\CorrelationId\CorrelationIdResolverInterface:
        class: OxidSupport\RequestLogger\CorrelationId\CorrelationIdResolver
        arguments:
            $cookieName: '%oxs.request_logger.cookie_name%'

    OxidSupport\RequestLogger\CorrelationId\CorrelationIdValidatorInterface:
        class: OxidSupport\RequestLogger\CorrelationId\CorrelationIdValidator

    OxidSupport\RequestLogger\Logger\Processor\CorrelationIdProcessorInterface:
        class: OxidSupport\RequestLogger\Logger\Processor\CorrelationIdProcessor
